extends layout/default

block scripts

append content
  button Default

  p

  button.primary Primary

  p

  button.secondary Secondary

  p

  button.success Success

  p

  button.warning Warning

  p

  button.error Error

  p

  button.info Info

  p

  button.inverse Inverse
