@import 'var/colors'

button, .button
  &.primary
    background-color $color_primary

    &:hover
      background-color $color_primary_hover

    &:active
      background-color $color_primary_active

  &.secondary
    place holder

  &.success
    background-color $color_success

    &:hover
      background-color $color_success_hover

    &:active
      background-color $color_success_active

  &.warning
    background-color $color_warning

    &:hover
      background-color $color_warning_hover

    &:active
      background-color $color_warning_active

  &.error
    background-color $color_error

    &:hover
      background-color $color_error_hover

    &:active
      background-color $color_error_active

  &.info
    background-color $color_info

    &:hover
      background-color $color_info_hover

    &:active
      background-color $color_info_active

  &.inverse
    background-color $color_inverse

    &:hover
      background-color $color_inverse_hover

    &:active
      background-color $color_inverse_active


