// colors
$black = #000
$dark = #555
$gray = #999
$light = #CCC
$white = #FFF

$blue-white = #f9fbfc  // background
$light-gray = #f4f6f7  // footer background

$turquoise = #1abc9c
$green-sea = #16a085

$emerland = #2ecc71
$nephrits = #27ae60

$color_disabled = #bdc3c7

$color_default = #bdc3c7
$color_default_hover = #cacfd2
$color_default_active = #a1a6a9

$color_primary = $turquoise
$color_primary_hover = #48c9b0
$color_primary_active = $green-sea

$color_success = $emerland
$color_success_hover = #58d68d
$color_success_active = $nephrits

$color_warning = #f1c40f
$color_warning_hover = #f5d313
$color_warning_active = #cda70d

$color_error = #e74c3c
$color_error_hover = #ec7063
$color_error_active = #c44133

$color_info = #3498db
$color_info_hover = #5dade2
$color_info_active = #2c81ba

$color_inverse = #34495e
$color_inverse_hover = #415b76
$color_inverse_active = #2c3e50
